/* --------------------------------Variables--------------------- */

:root {
  --green-color:#7ACC2D;
  --white-color: white;
  --black-color: #313337;
/* -------Tipografia------ */
  --normal: 12px;
/* -------Espaciado------ */
  --space: 10px;
  /* -----Box shadow----- */
  --box: 0 0 2px 1px #e6e5e9;
}

/* ------------------------------Fin variables------------------- */

html, body {
  padding: 0;
  margin: 0 auto;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
  max-width: 1280px;
}

nav {
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a {
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}

label {
  font-size: var(--normal);
  margin-top: 50px;
}


/* ----------------------Main section--------------------------- */

.main_section {
  padding: 15%;
  text-align: center;
}

.products {
  background-image: url(../images/curve.png);
  height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 20%;
  display: flex;
}

.product {
  padding: var(--space);
  margin-top: -240px;
}

.product .content {
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
}

.img_content {
  text-align: center;
}

.main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover {
  background-color: #5e9e22;
}

.caracteristicas {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--black-color);
}

.caracteristica {
  padding: 25px;
  width: 25vw;
}

.img_container {
  width: 12vw;
  text-align: center;
  margin: 0 auto;
}

.img_container img {
  width: 100%;
}

.menciones {
  display: block;
  text-align: center;
  font-size: 30px;
}

.personas {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 55px;
}

.persona {
  width: 25%;
  padding: 3px;
  justify-content: space-around;
}

.reseña {
  box-shadow: var(--box);
  padding: var(--space);
}

.img_person {
  justify-content: center;
}

.img_person img {
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  background: var(--black-color);
  color: var(--white-color);
  text-align: center;
  padding: 15px;
}

.contact a{
  color: var(--green-color);
}

/* -------------------------------Venta----------------------------- */

.modulo_pago {
  background-color: var(--white-color);
  box-shadow: var(--box);
  padding: var(--space);
}

.modulo_pago_images {
  max-width: 150px;
  margin: 0 auto;
}

.data {
  margin-top: var(--space);
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid var(--black-color);
  box-sizing: border-box;
}

.modulo_pago .main_button {
  margin-top: var(--space);
}