@media (max-width: 600px) {
  .products {
    display: inherit;
    height: auto;
  }

  .product {
    margin-top: auto;
  }
  .main_section {
    padding: 4%;
  }
  .caracteristicas, .personas {
    display: inherit;
  }
  .caracteristica {
    width: 45vw;
    margin: 0 auto;
  }
  .img_container {
    width: 30vw;
  }
  .personas {
  }
  .persona {
    width: 100%;
    justify-content: center;
  }
}